<%= form_for :street, url: new_street_path, action: 'create' do |s| %>
<%= s.text_field :name %>
<%= s.radio_button :borough, 'Brooklyn', class: 'radio', id: 'brooklyn1' %>
<label for="brooklyn1">Brooklyn</label>
<%= s.radio_button :borough, 'Queens', class: 'radio', id: 'queens1' %>
<label for="queens1">Queens</label>
<%= s.radio_button :borough, 'Manhattan', class: 'radio', id: 'manhattan1' %>
<label for="manhattan1">Manhattan</label>
<%= s.radio_button :borough, 'Bronx', class: 'radio', id: 'bronx1' %>
<label for="bronx1">Bronx</label>
<%= s.radio_button :borough, 'Staten Island', class: 'radio', id: 'SI1' %>
<label for="SI1">Staten Island</label>
<%= s.submit class: 'btn btn-primary' %>
<% end %>
