<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <div class="row content">
    <div class="col-md-4 col-md-navbar-left">
      <h4>Add Street</h4>
      <ul class="nav nav-pills nav-stacked">
      <%= render 'partials/create_street_form'%>
      </ul><br>
    </div>
     <div class="col-xs-2">
       <h4>Added Streets</h4>
       <%= render 'partials/created_streets'%>
    </div>
  </div>
</div>
</body>
</html>
